@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Work+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Work Sans', sans-serif;
}

.text-headline {
	font-family: 'Syncopate', sans-serif;
	font-weight: 700;
}
